extends layout

block content
	.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		header.mdl-layout__header
			.mdl-layout__header-row.header-content
				// Title
				.user-img-wrapper
					img.user-img(src = selectedUser.image)#demo-menu-lower-left.mdl-button.mdl-js-button.mdl-button--icon
					span.mdl-layout-title #{selectedUser.name}
					span.mdl-layout-title $#{selectedUser.balance}
				
				button#main-report.btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
					| 💸 Report

				// Left aligned menu below button
				
				ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-left')
					li.mdl-menu__item.avatar-li.show-report-li Show real time reports
					li.mdl-menu__item.avatar-li#logout Logout

			// Tabs
			.mdl-layout__tab-bar.mdl-js-ripple-effect
				a.mdl-layout__tab.is-active(href='#home') Home
				a.mdl-layout__tab(href='#personal-reports-tab') team reports
		.mdl-card.hidden-card
		main.mdl-layout__content
			section#home.mdl-layout__tab-panel.is-active
				.page-content
					// Your content goes here

				//Popup
				


				// last table #2
				.section.carusel.last-reports
					//- h5.table-title Last reports
					.last-card-wrapper.full-width
						each report, index in teamReports
							if index < 20
								.mdl-card.report-card.mdl-shadow--2dp
									.mdl-card--expand
									img(src = report.img)
									.report-val
										h2.mdl-card__title-text(class=report.val > -1 ? "" : "negative-report") $#{report.val}
									if report.val > 2000
										| 🦄
									else if report.val > 800
										| 🦈
									else if report.val > 0
										| 🦊
									else if report.val < -1000
										| 🍳
									else if report.val < -400
										| 🐑
									else if report.val < 0
										| 🐟
									else
										| 🌵
									.mdl-card__supporting-text.report-time #{report.time}
									//- img.table-avatar(src = report.img)
											
				// score table
				.section
					h5.table-title Players balance 
						span $#{teamBalance}
					div.table-wrapper
						table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#mainTable
							tbody
							each user, key in users
								tr(class=user.balance > -1 ? "" : "negative-report")
									td.mdl-data-table__cell--non-numeric.most-left-col
									td.mdl-data-table__cell--non-numeric.left-col 
										img.table-avatar(src = user.image)
										| #{user.name}
									td.bal-cell #{user.balance}
									td.bal-icon-cell $
									td.bal-icon
										if user.balance > 2000
											| 🦄
										else if user.balance > 800
											| 🦈
										else if user.balance > 0
											| 🦊
										else if user.balance < -1000
											| 🍳
										else if user.balance < -400
											| 🐑
										else if user.balance < 0
											| 🐟

				//- .floating-btn#float-report
				//- 	button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
				//- 		i.material-icons 💸

			section#personal-reports-tab.mdl-layout__tab-panel
				.page-content
					// Your content goes here
					.ct-chart.ct-perfect-fourth

					.accumulate-radios
						label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='accumulate')
							input#accumulate.mdl-radio__button(type='radio', name='options', value='1', checked='')
							span.mdl-radio__label Accumulated
						label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='non-accumulate')
							input#non-accumulate.mdl-radio__button(type='radio', name='options', value='2')
							span.mdl-radio__label Per session
					div.selection-btns
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect#deselect-all ME
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect#select-team TEAM
						//- button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect#select-all ALL


					.section.last-card-wrapper.carusel.players-reports
						// personal table
						each user, key in users
							div.table-wrapper.personal-report-table(id = key, class= users[key].name === selectedUser.name ? "graph-active" : "")
								.table-title
									span.personal-reports-avatar-container
										img.personal-reports-avatar(class="circle-" + users[key].name).table-avatar(src = users[key].image)
										|#{users[key].name} 
									span(class=users[key].balance > -1 ? "" : "negative-report").personal-reports-report $#{users[key].balance}
								table.personal-rec.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
									thead
										tr
											th.mdl-data-table__cell--non-numeric Session
											//- th.mdl-data-table__cell--non-numeric Time
											th.mdl-data-table__header#balance-col 💸
									tbody
									each report, index in users[key].reports
										tr(class=report.report > 0 ? "" : "negative-report")
											td.mdl-data-table__cell--non-numeric #{index +1}
											//- td.bal-cell.personal-report-time #{report.timestamp}
											td.bal-cell.personal-report #{report.report}
						// team table
						div.table-wrapper.personal-report-table.team-table
							.table-title
								span.personal-reports-avatar-container
									img.personal-reports-avatar(class="circle-" + 'Team').table-avatar(src ="./images/team.jpg")
									|Team 
								span.personal-reports-report
							table.personal-rec.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
								thead
									tr
										th.mdl-data-table__cell--non-numeric Session
										//- th.mdl-data-table__cell--non-numeric Time
										th.mdl-data-table__header#balance-col 💸
								tbody
								each user, key in users
									each report, index in users[key].reports
										tr(class=report.report > 0 ? "" : "negative-report")
											td.mdl-data-table__cell--non-numeric #{index +1}
											//- td.bal-cell.personal-report-time #{report.timestamp}
											td.bal-cell.personal-report #{report.report}
		div.pop-up#report-pop
					div.pop-up-content.mdl-card.mdl-shadow--2dp
						form#report-form
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#report-field.mdl-textfield__input(type='number', pattern="[0-9]*")
								label#report-label.mdl-textfield__label(for='report_field') How much?

						div.btns-container
							div.pop-btns
								button.dry-wet#dry.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(onclick = 'showHide("#confirm-pop"); inputAmount(dry)')
									| Dry ☀️
								button.dry-wet#wet.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick = 'showHide("#confirm-pop"); inputAmount(wet)')
									| Wet 🌧
							button#close-report.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent(onclick = '$("#report-pop").toggle()')
								| Cancel
		div.pop-up#confirm-pop
					div.pop-up-content.mdl-card.mdl-shadow--2dp.full-width
						.pop-up-icon
						h5 You're about to report 
						#pop-up-amount
							|TEST
						div.pop-up-content-btns-container
							button.btn#btn-send.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
								| Send report
							button.btn#btn-cancel.mdl-button.mdl-js-button.mdl-js-ripple-effect
								| cancel

								
		.mdl-snackbar.mdl-js-snackbar(aria-live='assertive', aria-atomic='true', aria-relevant='text')
			.mdl-snackbar__text
			button.mdl-snackbar__action(type='button')









	//- .app-wrap
	//- 	div.mdl-user-card
	//- 		.user-content
	//- 			.user-img-wrapper
	//- 				img.user-img(src = selectedUser.image)
	//- 				h5 #{selectedUser.name}
	//- 			h5.user-balance $#{selectedUser.balance}

	//- 	.mdl-card.hidden-card

	//- 	.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
	//- 		.mdl-tabs__tab-bar.carusel.fixed.mdl-shadow--2dp
	//- 			a.mdl-tabs__tab.is-active(href='#home') Home
	//- 			a.mdl-tabs__tab(href='#personal-reports-tab') Personal reports
	//- 		.mdl-card.hidden-card
	//- 		.mdl-tabs__panel.is-active#home
	//- 			// form
				
	//- 		.mdl-tabs__panel#personal-reports-tab
	//- 			// personal report

	//- 			//Graph
				

		
