extends layout

block content
	.app-wrap
		div.mdl-user-card.mdl-shadow--2dp
			.user-content
				.user-img-wrapper
					img.user-img(src = selectedUser.image)
					h5 #{selectedUser.name}
				.user-balance #{selectedUser.balance}$
				.team-balance #{teamBalance}$

		div.mdl-user-card.holder


		// form
		div.mdl-card.mdl-shadow--2dp.full-width
			form#report-form
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					input#report-field.mdl-textfield__input(type='number', pattern="[0-9]*")
					label.mdl-textfield__label(for='report_field') How much?

					//radio
				//- label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='flash1')
				//- 	input#flash1.mdl-radio__button(checked='', name='flash', type='radio', value='on')
				//- 	span.mdl-radio__label  
				//- label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='flash2')
				//- 	input#flash2.mdl-radio__button(name='flash', type='radio', value='off')
				//- 	span.mdl-radio__label 
			div.btns-container
				button.dry-wet#dry.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(onclick = 'showHide(); inputAmount(dry)')
					| Dry ☀️
				button.dry-wet#wet.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick = 'showHide(); inputAmount(wet)')
					| Wet 🌧

		//Popup
		div.pop-up
			div.pop-up-content.mdl-card.mdl-shadow--2dp.full-width
				.pop-up-icon
				h5 You're about to report 
				#pop-up-amount
					|TEST
				div.pop-up-content-btns-container
					button.btn#btn-send.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect
						| Send report
					button.btn#btn-cancel.mdl-button.mdl-js-button.mdl-js-ripple-effect
						| cancel
		.mdl-snackbar.mdl-js-snackbar(aria-live='assertive', aria-atomic='true', aria-relevant='text')
			.mdl-snackbar__text
			button.mdl-snackbar__action(type='button')

		//- // last table
		//- h5.table-title Last reports 
		//- div.table-wrapper
		//- 	table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#lastTable
		//- 		tbody
		//- 		each report, index in teamReports
		//- 			if index < 3
		//- 				tr
		//- 					td.mdl-data-table__cell--non-numeric
		//- 						img.table-avatar(src = report.img)
		//- 						| #{report.name}
		//- 					td #{report.time}
		//- 					td.bal-cell #{report.val}

		// last table #2
		h5.table-title Last reports
		.last-card-wrapper.full-width
			each report, index in teamReports
				if index < 10
					.mdl-card.report-card.mdl-shadow--2dp
						.mdl-card--expand
						img(src = report.img)
						.report-val
							h2.mdl-card__title-text #{report.val}$
						if report.val > 200
							| 🦈
						else if report.val < 0
							| 🐑
						else
							| 🐟
						.mdl-card__supporting-text.report-time #{report.time}
						//- img.table-avatar(src = report.img)
						
						
						

		// score table
		h5.table-title Players balance
		div.table-wrapper
			table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#mainTable
				//- thead
				//- 	tr
				//- 		th.mdl-data-table__cell--non-numeric Teams balance: #{teamBalance}
				//- 		th.mdl-data-table__header--sorted-ascending#balance-col Balance
				tbody
				each user in users
					tr
						td.mdl-data-table__cell--non-numeric 
							img.table-avatar(src = user.image)
							| #{user.name}
						td.bal-cell #{user.balance}

		// table personal reports
		h5.table-title Personal reports
		div.table-wrapper
			table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#personal-rec
				thead
					tr
						th.mdl-data-table__cell--non-numeric Report
						th.mdl-data-table__header--sorted-ascending#balance-col Balance
				tbody
				each report, index in selectedUser.reports
					tr
						td.mdl-data-table__cell--non-numeric #{index +1}
						td.bal-cell #{report.report}
		.logout-wrapper
			span#logout-p Not #{selectedUser.name}? 
			span#logout switch user
