extends layout

block content
	.app-wrap
		div.mdl-card.mdl-user-card.mdl-shadow--2dp
			.user-img-wrapper
				img.user-img(src = selectedUser.image)
			.user-content
				h5 #{selectedUser.name}
				h6#welcome-msg Welcome to the welcome 
				.user-balance Balance: #{selectedUser.balance}
				.team-balance Team: #{teamBalance}


		// from
		div.mdl-card.mdl-shadow--2dp 
			form#report-form
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					input#report-field.mdl-textfield__input(type='number')
					label.mdl-textfield__label(for='report_field') How much?
			button.btn.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
				| Report
		.mdl-snackbar.mdl-js-snackbar(aria-live='assertive', aria-atomic='true', aria-relevant='text')
			.mdl-snackbar__text
			button.mdl-snackbar__action(type='button')

		// last table
		h5.table-title Last reports 
		div.table-wrapper
			table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#lastTable
				thead
					//- tr
					//- 	th.mdl-data-table__cell--non-numeric
					//- 	th.mdl-data-table__cell--non-numeric 
					//- 	th.mdl-data-table__header--sorted-ascending#balance-col 
				tbody
				each report, index in teamReports
					if index < 3
						tr
							td.mdl-data-table__cell--non-numeric
								img.table-avatar(src = report.img)
								| #{report.name}
							td.bal-cell #{report.val}

		// score table
		h5.table-title Players balance
		div.table-wrapper
			table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#mainTable
				thead
					tr
						th.mdl-data-table__cell--non-numeric Names
						th.mdl-data-table__header--sorted-ascending#balance-col Balance
				tbody
				each user in users
					tr
						td.mdl-data-table__cell--non-numeric 
							img.table-avatar(src = user.image)
							| #{user.name}
						td.bal-cell #{user.balance}

		// table personal reports
		h5.table-title Personal reports
		div.table-wrapper
			table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp#personal-rec
				thead
					tr
						th.mdl-data-table__cell--non-numeric Report
						th.mdl-data-table__header--sorted-ascending#balance-col Balance
				tbody
				each report, index in selectedUser.reports
					tr
						td.mdl-data-table__cell--non-numeric #{index +1}
						td.bal-cell #{report.report}
		.logout-wrapper
			span#logout-p Not #{selectedUser.name}? 
			span#logout switch user
